<section class="home_bckground_image">
  <div class="home_bckground_colors">
    <div class="container">
      <div class="row">
        <h1>Welcome to Shani Shopping Center</h1>
        <p>
          Welcome to our fabric shop, where elegance meets variety. We proudly
          offer a wide collection of premium fabrics carefully selected to meet
          the needs of our valued customers. Our store is known for quality,
          beautiful colors, and a diverse range of materials suitable for
          casual, formal, and festive wear. <br />

          Our special varieties include Shmoze Silk and Katan Silk, both
          available in high and medium quality to suit different preferences and
          budgets. We also provide a beautiful collection of different varieties
          of dupatta, perfect for completing any outfit with style and grace.
          For those looking for something luxurious and trendy, we offer Tissue
          Silk, Silk Suit fabrics, Net Bazu, and Atal fabrics, each known for
          its unique texture and elegant finish. <br />

          In addition, we have a wide range of Main Stalar fabrics available in
          both simple and fantasy designs, making them ideal for everyday wear
          as well as special occasions. Our goal is to provide high-quality
          fabrics with excellent customer service, ensuring every customer finds
          the perfect material for their needs. We look forward to welcoming you
          and helping you choose the best fabric for your next outfit.
        </p>
        <span>
          <button class="btn_primarys">
            <a (click)="scrollToSection('matching')">Get Started</a>
          </button>
        </span>
      </div>
    </div>
  </div>
</section>

<section id="matching">
  <div class="container"></div>
</section>