<section id="navbar_bckground_color">
  <div class="container">
    <nav>
      <h1><a (click)="scrollToSection('home')">Shani Shopings Center</a></h1>

      <button (click)="toggleMenu()" class="menu-btn">
        <i class="ri-menu-line"></i>
      </button>

      <ul [class.active]="isMenuOpen" class="menu">
        <li><a (click)="scrollToSection('home')">Home</a></li>

        <li><a (click)="scrollToSection('shopes')">Shopes</a></li>

        <li><a (click)="scrollToSection('categories')">Categories</a></li>

        <li><a (click)="scrollToSection('offers')">Offers</a></li>

        <li><a (click)="scrollToSection('about')">About</a></li>

        <li><a (click)="scrollToSection('contact')">Contact</a></li>
      </ul>
    </nav>

  </div>
</section>

<section id="home">
  <app-home></app-home>
</section>

<section id="shopes">
  <app-shopes></app-shopes>
</section>



<!-- <section id="about">
  <app-about></app-about>
</section> -->

<!-- <section id="service">
  <app-service></app-service>
</section> -->

<!-- <section id="pricing">
  <app-price></app-price>
</section> -->
