#portfolio {
    .nav_section {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }


        @media (max-width:786px) {
            h1 {
                font-size: 1.2rem;
                font-weight: 500;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    .portfolio-filter {
        display: flex;
        justify-content: center;
        margin: 2rem 0;

        background-color: rgba(184, 255, 209, 0.411);
        padding: 8px;
        border-radius: 24px;

        .nav-menu {
            list-style: none;
            display: flex;
            gap: 1rem;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;

            li {
                border: 1px solid #009961;
                border-radius: 45px;

                a {
                    display: block;
                    padding: 6px 20px;
                    text-decoration: none;
                    color: black;
                    background-color: transparent;
                    border-radius: 45px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #009961;
                        color: white;
                    }
                }

                @media (max-width:786px) {
                    a {
                        padding: 4px 15px;
                        font-size: 12px;
                    }
                }

                &.active a {
                    background-color: #009961;
                    color: white;
                }
            }
        }

    }

}