    .home_bckground_image {
        height: 100%;
        background-image: url("../../assets/shop_front.jfif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        color: white;
        margin-top: -68px;

        .home_bckground_colors {
            background-color: rgba(0, 0, 0, 0.651);
            height: 101.8vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 3.2rem;
                color: rgba(255, 255, 255, 0.83);
                text-align: center;
                width: 100%;
            }

            span {

                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;

                img {
                    width: 20%;
                    height: 20%;
                    border-radius: 50%;
                }
            }

            p {
                font-size: 1.8rem;
                color: rgba(255, 255, 255, 0.816);
                text-align: center;
            }

            @media (max-width: 768px) {
                h1 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1rem;
                }
            }


            @media (max-width: 368px) {
                h1 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.6rem;
                }
            }

        }
    }