<div class="home_bckground_image">
  <div class="home_bckground_colors">
    <div class="container">
      <div class="row">
        <h1>Welcome to Shani Shopping Center</h1>
        <p>
          Your one-stop destination for quality products, great prices, and a
          convenient shopping experience. We are dedicated to providing our
          customers with a wide range of items and friendly service. Explore our
          collection and enjoy shopping with us.
        </p>

      </div>
    </div>
  </div>
</div>
